*{
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
  } 
  body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0 4rem;
    background-color: black;
  }
.background--img{ 
    width: 100%;
    padding-bottom: 4rem;
    /* overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    color: white;
}
.hero--text{
    padding-top: 2rem;
    text-align: center;
}

/* Media query */
@media screen and (max-width: 920px) {
  html {
    font-size: 60%;
  } 
}
@media screen and (max-width: 600px) {
  html {
    font-size: 58%;
  } 
  .hero--text{
    padding-top: 16rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
}